/*
* Suzanne Melia
* Due Date 
* Favorites  
*/ 

/*The Universal selector */

* {

}

/* Body attributes here */

body {
    
background-color: blueviolet
    
}
#rudy { width: 400px; height: 200px;}
#myfavoritecity { width: 400px; height: 200px;}
#vacation {width: 400px; height: 200px;}
